.App{
  /* height: 100vh; */
  width: 100%;
}
#root{
  margin:0px;
  padding: 0px;
  /* min-height: 800px; */
 
  font-family: 'Ropa Sans', sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}
body{
 
  height: 100vh;
  margin:0px;
  padding: 0px;
}
.invoice_id_label span{
  font-size: 10px;
}
.duelabel{
  width: 20%;
  text-rendering: geometricPrecision;
}
.invoice_login_button{
  text-decoration: none ;
  padding: 10px;
  background-color: #4D77FF;
  color: white;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
.invoice_login_button:hover{
  text-decoration: none ;
  padding: 10px;
  background-color: #4D77FF;
  color: white;
}